[submodule "External/CocoaLumberjack"]
	path = External/CocoaLumberjack
	url = git@github.com:CocoaLumberjack/CocoaLumberjack.git
[submodule "External/siesta"]
	path = External/siesta
	url = https://github.com/bustoutsolutions/siesta.git
